body {
    background-color: #f8f9fa;
    border: none;
}

header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
}



h1 {
    font-size: 1rem; /* Ajusta o tamanho do título */
}

p, h3 {
    font-size: 0.8rem; /* Ajusta o tamanho do texto */
  ;
}

.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 150px; /* Ajusta a largura dos inputs */
}

.form-group {
    margin: 0 5px; /* Espaçamento horizontal entre os campos */
}

button.btn {
    margin-left: 10px; /* Adiciona um pequeno espaço antes do botão */
}

.box-main {
    display: flex;
    justify-content: center; /* Centraliza os quadrados */
    align-items: flex-start;
    flex-wrap: wrap; /* Permite que os quadrados quebrem linha em telas menores */
}

 .caixa-card, .extra-card {
    border:none;
    border-radius: 10%;
  
 }
