<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natureza Patrimonial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header class="text-center mb-4">
        <h3>Enviar Parâmetros para APIs</h3>
        <form action="/enviar_parans" method="POST" class="form-inline justify-content-center">
            <div class="form-group mx-2">
                <label for="id_ente" class="sr-only">ID Ente:</label>
                <input type="text" id="id_ente" name="id_ente" class="form-control form-control-sm" placeholder="ID Ente" required>
            </div>
            <div class="form-group mx-2">
                <label for="an_referencia" class="sr-only">Ano de Referência:</label>
                <input type="text" id="an_referencia" name="an_referencia" class="form-control form-control-sm" placeholder="Ano Referência" required>
            </div>
            <div class="form-group mx-2">
                <label for="me_referencia" class="sr-only">Mês de Referência:</label>
                <input type="text" id="me_referencia" name="me_referencia" class="form-control form-control-sm" placeholder="Mês Referência" required>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
        </form>
    </header>

    <!-- Ajuste aqui para a div box-main -->
   
        <div class="box-main">
            <div class="caixa-card">
            
                    <h3>Caixa e Equivalentes</h3>
                    <p>Total: {{ total_sum }}</p>
                </div>
           

            <div class="extra-card">
                <div class="">
                    <h3>Movimentação Extra</h3>
                    <p>Total: {{ total_extra }}</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
